@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

:root{
    --main-color:#4150BF;
}

body{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
}

/*以下トップ画面*/

.titleText{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    font-size: 6vh;
}

.loginButton{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5vh;
    background: white;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.loginButtonContainer{
    display:flex;
    gap: 10px;
}

.loginButton:hover{
    cursor: pointer;
}

/*以下ローディング画面*/

.loadingContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.loadingText{
    text-align: center;
    margin: 2vw;
    font-size: 3vw;
}

.loadingAnimation{
    margin: auto;
    --size: max(10vw,75px);
    width: var(--size);
    height: var(--size);
    background-color: var(--main-color);
    border-radius: 100%;
    animation-duration: 3s;
    animation-name: beatCircle;
    animation-iteration-count: infinite;
}

@keyframes beatCircle {
    from{
        scale: 100%;
    }
    50%{
        scale: 50%;
    }
    to{
        scale: 100%;
    }
}

/*以下ログイン時画面*/

.toolButton{
    display: flex;
    justify-content: center;
    align-items: center;
    --size: 50px;
    width: var(--size);
    height: var(--size);
    background-color: var(--main-color);
    border-radius: 8px;
}

.toolButton:hover{
    cursor: pointer;
}

.printerIcon{
}

.toolButtonImage{
    background-color: #4150BF;
    mask-image: url("../assets/print.svg");
    mask-repeat: no-repeat;
    mask-position: center;
}